<ion-item>
    <ion-avatar>
        <ion-img [src]="recipeItem.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding">
        {{ recipeItem.title }}
      </ion-label>
</ion-item>