<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-recipe-item
      *ngFor="let recipe of recipes"
      [recipeItem]="recipe"
      [routerLink]="['./', recipe.id]"
      routerLinkActive="router-link-active">
    </app-recipe-item>
  </ion-list>
</ion-content>
