<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteRecipe()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="recipe.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let ingridient of recipe.ingredients; let i = index">
          {{i+1}}. {{ingridient}}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
